body {
	margin: 0 auto;
	text-align: center;
	background-color: #FCFCFC;
}

.enter-item {
	background-color: #B3B3B3;
}

h1 {
	font-family: 'Monserrat', sans-serif;
}

h2 {
	font-family: 'Droid Sans', sans-serif;
	font-style: italic;
}

.shopping-list ul {
	list-style-type: none;
	/*width: 40em;*/
	margin: 5em auto;
	padding: 0;
}

.shopping-list li {
	font-size: 1.1em;
	font-weight: 500;
	background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(204, 204, 204, 0.42) 100%);
	border: 2px solid black;
	border-radius: 2em;
	padding: .3em;
	margin: .5em auto;
}

.checkoff {
	width: 1.3em;
	height: 1em;
	float: left;
}

.remove {
	width: 1.3em;
	height: 1em;
	float: right;
}

.dairy {
	color: ;
}

.frozen {
	color: white;
	/*background-color: Green;*/
}

.deli {
	color: white;
	/*background-color: Red;*/
}

.non-food {
	color: white;
	/*background-image:*/
}

@media (max-width: 1095px) {
	.container {
		width:500px;
	}
}

@media (max-width: 637px) {
	.container {
		width:300px;
	}

}

/* .d {
	color: white;
	background-color: 
} */