header, ul {
	text-align: center;
}

ul {
	list-style-type: none;
}

.dairy {
	color: white;
	background-color: 
}

.frozen {
	color: white;
	background-color: 
}

.deli {
	color: white;
	background-color: 
}

.non-food {
	color: white;
	background-color: 
}

/* .d {
	color: white;
	background-color: 
} */