body {
	margin: 0 auto;
	text-align: center;
}

/* header, ul {
	text-align: center;
} */

/* section {
	width: 40em;
} */

/* .search-bar {
	text-align: center;
} */

ul {
	list-style-type: none;
	width: 40em;
	margin: 5em auto;
}

.dairy {
	color: white;
	background-color: LightBlue;
}

.frozen {
	color: white;
	background-color: 
}

.deli {
	color: white;
	background-color: 
}

.non-food {
	color: white;
	background-color: 
}

/* .d {
	color: white;
	background-color: 
} */